.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container1 {
  padding: 2px 16px;
  margin: 0 auto;
  text-align:center;
}
.container2 {
  padding: 2px 16px;
  background-color: #f2f2f2;
}

span
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 80%;
  right: 20%;
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}