<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>

<body>
<ul>
    <!-- Iterate over object_list -->

    {% for user in businesses %}
    <!-- Display Objects -->
    <li class="form-select-div">
        <div><span style="color:#585858; margin-right:5px">Business Id:</span><span>{{ user.BusinessId }}</span></div>
        <div><span style="color:#585858; margin-right:5px">Business Name:</span><span>{{ user.BusinessNm }}</span></div>
        <div><span style="color:#585858; margin-right:5px">Email:</span><span>{{ user.Email }}</span></div>
        <div><span style="color:#585858; margin-right:5px">EIN or SSN:</span><span>{{ user.EINorSSN }}</span></div>
    </li>

    {% endfor %}
</ul>
</body>
</html>