{% extends 'base.html' %}

{% block content %}
<form id="myForm">



    <ul>
        <!-- Iterate over object_list -->

        {% for business in businesses %}

        <div class="form-list">
            <li onclick="getdata('{{business.BusinessId}}','{{business.EINorSSN}}');">

                <div>
                    Business Id: {{ business.BusinessId }}
                </div>
                <div>Business Name: {{ business.BusinessNm}}</div>
                <div>Email: {{ business.Email }}</div>
                <div>EIN or SSN: {{ business.EINorSSN }}
                </div>

            </li>
        </div>

        {% endfor %}
    </ul>
</form>

<script>

    function getdata(business_id, ein) {
        window.location = '/detail?business_id=' + business_id + '&ein=' + ein;
    }


</script>
{% endblock %}