<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Business</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style/create_business_styles.css') }}">
    <script>
        function validateInputs()
       {

       var isValidInput = true;

        if(document.getElementById("txtBusinessName").value==undefined || document.getElementById("txtBusinessName").value=="" || document.getElementById("txtBusinessName").value==null)
        {
        alert("business Name is Empty")
        isValidInput = false;
        }

        if(document.getElementById("txtEinOrSsn").value==undefined || document.getElementById("txtEinOrSsn").value=="" || document.getElementById("txtEinOrSsn").value==null)
        {
        alert("EINorSSN should not be empty")
        isValidInput = false;
        }
        else if(document.getElementById("txtEinOrSsn").value.length<9)
        {
        alert("EINorSSN must be more than 9 digits")
        isValidInput = false;
        }
       return isInputValid;

       }


    </script>
</head>
<body>

<div class="container">
    <form action="/success" method="post" name="create" onsubmit="return validateInputs()">
        <!--Create business Endpoint-->
        <h2><u>Create Business</u></h2>

        <h3>Business/Create</h3>

        <label for="business_name">BusinessName:</label>
        <input id="txtBusinessName" type="text" name="business_name" placeholder="Business Name"/><br>

        <label for="trade_nm">TradeNm:</label>
        <input type="text" name="trade_nm" placeholder="TradeNm"/><br>

        <input type="checkbox" name="is_ein" placeholder="IsEIN"/>
        <label for="is_ein">IsEIN?</label><br><br>

        <label for="ein_or_ssn">EINorSSN:</label>
        <input id="txtEinOrSsn" type="number" name="ein_or_ssn" placeholder="EINorSSN"/><br>

        <label for="email">Email:</label>
        <input type="email" name="email" placeholder="Email"/><br>

        <label for="contact_nm">ContactNm:</label>
        <input type="text" name="contact_nm" placeholder="ContactNm"/><br>

        <label for="phone">Phone:</label>
        <input type="text" name="phone" placeholder="Phone"/><br>

        <label for="phone_extn">PhoneExtn:</label>
        <input type="number" name="phone_extn" placeholder="PhoneExtn"/><br>

        <label for="fax">Fax:</label>
        <input type="text" name="fax" placeholder="Fax"/><br>

        <label for="business_Type">BusinessType:</label>
        <input type="text" name="business_Type" placeholder="BusinessType"/><br>

        <label for="sa_name">Signing Authority Name:</label>
        <input type="text" name="sa_name" placeholder="Signing Authority Name"/><br>

        <label for="sa_phone">Signing Authority Phone:</label>
        <input type="text" name="sa_phone" placeholder="Signing Authority Phone"/><br>

        <label for="business_member_type">BusinessMemberType:</label>
        <input type="text" name="business_member_type" placeholder="BusinessMemberType"/><br>

        <label for="kind_of_employer">KindOfEmployer:</label>
        <input type="text" name="kind_of_employer" placeholder="KindOfEmployer"/><br>

        <label for="kind_of_payer">KindOfPayer:</label>
        <input type="text" name="kind_of_payer" placeholder="KindOfPayer"/><br>

        <label for="is_business_terminated">IsBusinessTerminated:</label>
        <input type="text" name="is_business_terminated" placeholder="IsBusinessTerminated"/><br>

        <label for="is_foreign">IsForeign:</label>
        <input type="text" name="is_foreign" placeholder="IsForeign"/><br>

        <label for="address1">Address 1:</label>
        <input type="text" name="address1" placeholder="Address1"/><br>

        <label for="address2">Address 2:</label>
        <input type="text" name="address2" placeholder="Address2"/><br>

        <label for="city">City:</label>
        <input type="text" name="city" placeholder="City"/><br>

        <label for="state">State:</label>
        <input type="text" name="state" placeholder="State"/><br>

        <label for="zip_cd">ZipCd:</label>
        <input type="text" name="zip_cd" placeholder="ZipCd"/><br>

        <label for="country">Country:</label>
        <input type="text" name="county" placeholder="Country"/><br>


        <input type="submit" value="Create Business"/>

    </form>

</div>
</body>
</html>