{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h2><u>Create a New Form 1099-NEC</u></h2>

    <h3>Form1099NEC/Create</h3>

    <form action="/save_form_1099_nec" method="post" id="createForm1099NEC">

        <div class="horizontalContainer">
            <label for="business_list">Businesses:</label>
            <select id="business_list" name="business_list">
                {% for business in businesses %}
                <option value={{ business.BusinessId}}>{{ business.BusinessNm}} - {{ business.EINorSSN}}</option>
                {% endfor %}
            </select>
            <button type="button" id="loadRecipientsBtn" onclick="loadRecipientsList()">Recipient List</button>
        </div>

        <div class="form-control">
            <label for="recipientsDropDown">Recipients:</label>
            <select class="form-control" id="recipientsDropDown" name="recipientsDropDown"
                    onchange="onRecipientClicked()">
                <option value="-1">Select Recipient</option>
            </select>
        </div>

        <div class="form-control">
            <label for="rName">Recipient Name:</label>
            <input type="text" name="rName" id="rName" placeholder="Recipient Name" maxlength="35"/>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="rTIN">Recipient TIN:</label>
            <input type="text" name="rTIN" id="rTIN" placeholder="Recipient TIN" maxlength="9" value=""/>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="amount">Nonemployee compensation:</label>
            <input type="number" name="amount" id="amount" value="167.25"/>
            <small>Error message</small>
        </div>

        <div class="form-control">Few fields are auto-populated with default values in this page</div>

        <input type="submit" value="Submit">
    </form>
    <br>
</div>

<script type=text/javascript>

    var recipientList = []

    function loadRecipientsList()
    {
        $.ajax({
			url: '/get_recipient_by_business_id',
			data: {BusinessId: $('#business_list').val()},
			type: 'POST',
			success: function(data){
                var s = '<option value="-1">Select Recipient</option>';
			    if(data!=null)
				{
				    console.log(data);

                    var jsonData = JSON.parse(data)

                    if(jsonData!=null && jsonData.length>0)
                    {
                        for (var i = 0; i < jsonData.length; i++) {
                            s += '<option value="' + jsonData[i].RecipientId + '" name="' + jsonData[i].TIN + '">' + jsonData[i].FirstPayeeNm + '</option>';
                        }
                    }
               }
               $("#recipientsDropDown").html(s);
			},
			error: function(error){
				console.log(error);
			}
		});
    }

    function onRecipientClicked()
    {
        var e = document.getElementById("recipientsDropDown");
        var strAtt = e.options[e.selectedIndex].getAttribute('name'); // will return the value
        console.log(strAtt);


        if(strAtt!=null)
        {
            strAtt = strAtt.replace("-","");
            document.getElementById("rTIN").innerHTML = strAtt;
            document.getElementById("rTIN").value = strAtt;
        }
    }
</script>
{% endblock %}