{% extends 'base.html' %}

{% block content %}
<div class="container">

    <h2><u>Create a New Form 1099-MISC</u></h2>

    <h3>Form1099MISC/Create</h3>

    <form action="/save_form_1099_misc" method="post" id="createForm1099MISC">

        <div class="horizontalContainer">
            <label for="MISCForms_Business_BusinessId">Businesses:</label>
            <select id="MISCForms_Business_BusinessId" name="MISCForms_Business_BusinessId">
                {% for business in businesses %}
                <option value={{ business.BusinessId}}>{{ business.BusinessNm}} - {{ business.EINorSSN}}</option>
                {% endfor %}
            </select>
            <button type="button" id="loadRecipientsBtn" onclick="recipientsList()">Recipient List</button>
        </div>

        <div class="form-control">
            <label for="MISCForms_Recipient_RecipientId">Recipients:</label>
            <select class="form-control" id="MISCForms_Recipient_RecipientId" name="MISCForms_Recipient_RecipientId"
                    onchange="onRecipientClicked()">
                <option value="-1">Select Recipient</option>
            </select>
        </div>

        <div class="form-control">
            <label for="MISCForms_Recipient_RecipientNm">Recipient Name:</label>
            <input type="text" name="MISCForms_Recipient_RecipientNm" id="MISCForms_Recipient_RecipientNm"
                   placeholder="Recipient Name" maxlength="35"/>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="MISCForms_Recipient_TIN">Recipient TIN:</label>
            <input type="text" name="MISCForms_Recipient_TIN" id="MISCForms_Recipient_TIN" placeholder="Recipient TIN"
                   maxlength="9" value=""/>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label for="MISCForms_MISCFormDetails_Box1">Rents Amount:</label>
            <input type="text" name="MISCForms_MISCFormDetails_Box1" id="MISCForms_MISCFormDetails_Box1" maxlength="12"
                   value="167.25"/>
            <small>Error message</small>
        </div>
        <div class="form-control">
            <label for="MISCForms_MISCFormDetails_Box2">Royalties Amount:</label>
            <input type="text" name="MISCForms_MISCFormDetails_Box2" id="MISCForms_MISCFormDetails_Box2" maxlength="12"/>
            <small>Error message</small>
        </div>
        <div class="form-control">
            <label for="MISCForms_MISCFormDetails_Box3">Other Income Amount:</label>
            <input type="text" name="MISCForms_MISCFormDetails_Box3" id="MISCForms_MISCFormDetails_Box3" maxlength="12"/>
            <small>Error message</small>
        </div>
        <div class="form-control">
            <label for="MISCForms_MISCFormDetails_Box4">Federal income tax withheld Amount:</label>
            <input type="text" name="MISCForms_MISCFormDetails_Box4" id="MISCForms_MISCFormDetails_Box4" maxlength="12"/>
            <small>Error message</small>
        </div>

        <div class="form-control">Few fields are auto-populated with default values in this page</div>

        <input type="submit" value="Submit">
    </form>
    <br>
</div>

<script type=text/javascript>

    var recipientList = []

    function recipientsList()
    {
        $.ajax({
			url: '/get_recipient_by_business_id_misc',
			data: {BusinessId: $('#MISCForms_Business_BusinessId').val()},
			type: 'POST',
			success: function(data){
                var s = '<option value="-1">Select Recipient</option>';
			    if(data!=null)
				{
				    console.log(data);

                    var jsonData = JSON.parse(data)

                    if(jsonData!=null && jsonData.length>0)
                    {
                        for (var i = 0; i < jsonData.length; i++) {
                            s += '<option value="' + jsonData[i].RecipientId + '" name="' + jsonData[i].TIN + '">' + jsonData[i].FirstPayeeNm + '</option>';
                        }
                    }
               }
               $("#MISCForms_Recipient_RecipientId").html(s);
			},
			error: function(error){
				console.log(error);
			}
		});
    }

    function onRecipientClicked()
    {
        var e = document.getElementById("MISCForms_Recipient_RecipientId");
        var strAtt = e.options[e.selectedIndex].getAttribute('name'); // will return the value
        var recipientName = e.options[e.selectedIndex].text; // will return the inner html text
        if(strAtt!=null)
        {
            strAtt = strAtt.replace("-","");
            document.getElementById("MISCForms_Recipient_TIN").innerHTML = strAtt;
            document.getElementById("MISCForms_Recipient_TIN").value = strAtt;
            document.getElementById("MISCForms_Recipient_RecipientNm").innerHTML = recipientName;
            document.getElementById("MISCForms_Recipient_RecipientNm").value = recipientName;
        }
    }

</script>
{% endblock %}