<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Form1099 NEC</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style/create_business_styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/style/card_list_design.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<div class="container">

    <h2><u>Form 1099 NEC LIST</u></h2>

    <h3>Form1099NEC/List</h3>

    <div class="form-control">
        <label for="business_list">Businesses:</label>
        <select id="business_list" name="business_list">
            {% for business in businesses %}
            <option value={{ business.BusinessId}}>{{ business.BusinessNm}} - {{ business.EINorSSN}}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        <h2>List:</h2><br>
        <div id="listDiv" class="card">

        </div>
    </div>

    <div class="card" id="noDataDiv">

        <div class="container1">
            <h3>No data found</h3>
        </div>
    </div>

</div>

<script type=text/javascript>

    function removeAllChildNodes(parent) {
        while (parent.firstChild) {
            parent.removeChild(parent.firstChild);
        }
    }

    $(function(){
	$('#business_list').change(function(){
		$.ajax({
			url: '/nec_list',
			data: {BusinessId: $('#business_list').val()},
			type: 'POST',
			success: function(data){

                var jsonData = JSON.parse(data);
                debugger
                // Make a container element for the list
                listContainer = document.getElementById("listDiv");
                // Make the list
                listElement = document.createElement('div');
                listElement.className = "container2";
                removeAllChildNodes(listContainer);
                // Set up a loop that goes through the items in listItems one at a time
                var numberOfListItems = jsonData.length;
                var listItem;
                var i;
                // Add it to the page

                if(numberOfListItems>0)
                {

                    listContainer.appendChild(listElement);
                    document.getElementById("noDataDiv").style.display = "none";
                    for (i = 0; i < numberOfListItems; ++i) {
                        // create an item for each one
                            rName = document.createElement('h3');
                            businessName = document.createElement('p');
                            listItem = document.createElement('p');
                            listItem1 = document.createElement('p');

                            // Add the item text
                            rName.innerHTML = jsonData[i]['RecipientNm'] +' - '+jsonData[i]['TIN'];
                            listItem.innerHTML = 'SubmissionId: '+ jsonData[i]['SubmissionId'];
                            listItem1.innerHTML = 'RecordId: '+ jsonData[i]['RecipientId'];
                            businessName.innerHTML = jsonData[i]['BusinessNm'];

                            // Add listItem to the listElement
                            listElement.appendChild(rName);
                            listElement.appendChild(listItem);
                            listElement.appendChild(listItem1);
                            listElement.appendChild(businessName);

                            if(jsonData[i])
                            {
                                transmitBtn = document.createElement('button');
                                listElement.appendChild(transmitBtn);
                                transmitBtn.innerHTML = "Transmit";
                                transmitBtn.value = jsonData[i]['SubmissionId']
                            }
                            listElement.appendChild(document.createElement('br'));

                            if((i+1)!=numberOfListItems)
                                listElement.appendChild(document.createElement('hr'));
                   }
               }
               else
               {
                    document.getElementById("noDataDiv").style.display = "block";
               }
            },
			error: function(error){
				console.log(error);
			}
		});
	});
});





</script>
</body>
</html>