{% extends 'base.html' %}
{% block content %}
{% if message %}
<p> {{message | safe }}</p>
{% endif %}

<h3>Business</h3>

<form action="/createbusiness" method="get">
    <input type="submit" value="Create Business" />
</form>

<p></p>
<p></p>

<form action="/businesslist" method="get">
    <input type="submit" value="Get Business List" />
</form>

<h3>Form 1099-NEC</h3>

<form action="/ReadBusinessList" method="get">
    <input type="submit" value="Create Form 1099-NEC" />
</form>

<p></p>
<p></p>

<form action="/FormNecList" method="get">
    <input type="submit" value="Form 1099-NEC List" />
</form>

<h3>Form W2</h3>

<form action="/create_form_w2" method="get">
    <input type="submit" value="Create Form W2" />
</form>

<p></p>
<p></p>

<form action="/form_w2_list" method="get">
    <input type="submit" value="Form W2 List" />
</form>



{% endblock %}