{% extends 'base.html' %}

{% block content %}
<div>

    {% if ErrorMessage %}
    <h3>{{ErrorMessage | safe}}</h3>
    {% endif %}

    <form action="/redirect_form_list" method="get">
        {% if response %}
        <p>{{response | safe}}</p>
        {% endif %}

        {% if ButtonText %}
        <input id="formtype" name="formtype" style="display:none;" value={{ FormType }}>
        <button type="submit">View {{ ButtonText }}</button>
        {% endif %}
    </form>

</div>
{% endblock %}